<h1>
    Register
</h1>
<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="submit()" novalidate>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Email">
            <small class="form-text text-muted"
                *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].errors?.['required']">
                <div class="alert alert-danger" role="alert">
                    Please enter an email !
                </div>
            </small>

            <small class="form-text text-muted"
                *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].errors?.['email']">
                <div class="alert alert-danger" role="alert">
                    Email address is invalid.
                </div>
            </small>
        </div>

        <div class="form-group password-form">
            <label for="password">Password</label>
            <div class="d-flex">
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter Password">
            </div>
            <small class="form-text text-muted"
                *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].errors">
                <div class="alert alert-danger" role="alert">
                    Password is invalid. Make sure it has
                    <ul>
                        <li>
                            An uppercase character
                        </li>
                        <li>
                            A number
                        </li>
                        <li>
                            An lowercase character
                        </li>
                        <li>
                            A number
                        </li>
                    </ul>
                </div>
            </small>
        </div>
        <div class="form-group password-form">
            <label for="repeatPassword">Repeat password</label>
            <div class="d-flex">
                <input type="password" class="form-control" id="repeatPassword" formControlName="repeatPassword"
                    placeholder="Repeat Password">
            </div>
            <small class="form-text text-muted"
                *ngIf="registerForm.controls['repeatPassword'].touched && registerForm.controls['repeatPassword'].errors">
                <div class="alert alert-danger" role="alert">
                    Password is invalid. Make sure it has
                    <ul>
                        <li>
                            An uppercase character
                        </li>
                        <li>
                            A number
                        </li>
                        <li>
                            An lowercase character
                        </li>
                        <li>
                            A number
                        </li>
                    </ul>
                </div>
            </small>
        </div>
        <div class="d-grid gap-2 div-button">
            <button type="submit" class="btn btn-primary btn-block register" [disabled]="!registerForm.valid">Register</button>
        </div>
        <div *ngIf="errorMessage$ | async as errorMessage" class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
    </form>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-6">
                <p class="already-member">Already a member?</p>
            </div>
            <div class="col col-lg-2">
                <a class="login" routerLink="/login" routerLinkActive="active">Login</a>
            </div>
        </div>
    </div>
</div>